

  


:root{
    --c-dark: #131414;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78,87, 212;
    --c-body: #727272;
    --font-base: 'ClashDisplay';
    --font-base-regular: 'Ranade', sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}
body{
    
    line-height: 1.7;
    color: var(--c-body);

}
h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 600;
    color: var(--c-dark);
    font-family: var(--font-base);
    
}

a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}
a:hover{
    color: var(--c-brand-light);
}
img{
    max-width: 100%;
    height: auto;
    
}
.theme-shadow{
    box-shadow: var(--box-shadow);
    /* z-index: -2; */
}
.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}
/* narbar */

.navbar{
    box-shadow: var(--box-shadow);
    background-color: white;
}

.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-dark);
}
.navbar-nav .nav-link.active{
    color: var(--c-brand);
}
.btn{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand{
    background-color: var(--c-brand);
    color: white;
    border-color: var(--c-brand);
}
.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
    
}
    /* image zoom */

    .image-zoom{
        position: relative;
        overflow: hidden;
    }
    .image-zoom-wrapper {
        overflow: hidden;
        position: relative;
    }
    .image-zoom-wrapper img{
        transition: var(--transition);
    }

    .image-zoom:hover .image-zoom-wrapper img{
        transform: scale(1.1);
    }

    /* portfolio */
    .portfolio-item .iconbox{
        background-color: var(--c-brand);
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        
    }
    .portfolio-item:hover .iconbox{
        opacity: 1;
        top: 50%;
    }

/* hero */

#hero{
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), #000000b0), url(./p1.jpg); background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
/* section title */

.section-title{
    margin-bottom: 60px;

}
.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;


}
.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;


}

/* icon box */
.iconbox{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
    
}
/* service */

.service{
    position: relative;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
}
.service::after{
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    right: 0;
    bottom: 0;
    transition: var(--transition);
}
.service:hover::after{
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}
.service:hover h5,
.service:hover p{
    color: white;
}
.service:hover .iconbox{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

/* counter */

#counter{
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(./counter.jpg);
    background-size: cover;
    background-position: center;
}


/* review */
.review-head{
    position: relative;
}
.review-head::after{
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14;
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
}

.review small{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

/* contact */

#contact{
    position: relative;
    z-index: 2;
}
#contact::after{
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(./counter.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control{
    border-radius: 0;
}
#contact .form-control:focus{
    box-shadow: none;
    border-color: var(--c-brand);
}